@{
    ViewBag.Title = "Home Page";
    //document.location.protocol + "//" + document.location.host
}

<div class="tree">

</div>
<div id="add" class="but"><a class="btn btn-success btn-mini">Add to Root</a></div>

<div id="createModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Create company</h4>
            </div>
            <div class="modal-body">
                <p>Name</p><input id="cName" type="text" />
                <p>EstimatedEarnings</p><input id="cEstimatedEarnings" type="text"/>
                <input id="cIdFather" type="hidden" />
            </div>
            <!-- Футер модального окна -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="okCreate"  type="button" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>

<div id="updateModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Create company</h4>
            </div>
            <div class="modal-body">
                <p>Name</p><input id="uName" type="text" />
                <p>EstimatedEarnings</p><input id="uEstimatedEarnings" type="text" />
                <input id="uId" type="hidden" />
            </div>
            <!-- Футер модального окна -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="okUpdate" type="button" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>



@section scripts{
<script type="text/javascript">
    $(document).ready(reloadList())

    $('body').delegate('#add', 'click', function () {
        var idFather = ($(this).closest("div.company")[0] != undefined) ? $(this).closest("div.company")[0].id : null;
        
        $('#cName').val("");
        $('#cEstimatedEarnings').val("");    
        $('#cIdFather').val(idFather);
        $("#createModal").modal('show');
    });

    $('body').delegate('#delete', 'click', function () {
        $.post(location.origin + "/company/Delete", { 'id': $(this).closest('div.company')[0].id }, function () {reloadList()});
    })

    $('body').delegate('#update', 'click', function () {
        
        $.post(location.origin + "/company/Find", { 'id': $(this).closest('div.company')[0].id }, function (data) {
            var company = $.parseJSON(data);
            $("#uId").val(company.Id);
            $('#uName').val(company.Name);
            $('#uEstimatedEarnings').val(company.EstimatedEarnings);
            $("#updateModal").modal('show');
        });
    })

    $('#okUpdate').click(function () {
        $.post(location.origin + "/company/Update", { 'id': $('#uId').val(), 'name': $('#uName').val(), 'estimatedEarnings': $('#uEstimatedEarnings').val() },
            function (data) {
                $("#updateModal").modal('hide');
                reloadList();
            })
    })

    $('#okCreate').click(function () {
        console.log($('#cName').val());
        console.log($('#cEstimatedEarnings').val());
        console.log($('#cIdFather').val());
        $.post(location.origin + "/company/Create", { 'name': $('#cName').val(), 'EstimatedEarnings': $('#cEstimatedEarnings').val(), 'fatherCompanyId': $('#cIdFather').val()},
            function (data) {
                $("#createModal").modal('hide')
                reloadList();
            })
    })

    function reloadList() {
        $.post(location.origin + "/company/FindList", function (data) {
            var Json = $.parseJSON(data);
            $('.tree').empty();
            result = '';
            $.each(Json, function (i, obj) { result += displayCompany(obj) });
            $(result).appendTo('.tree');
        })
    }

    function displayCompany(company){
        result = '<div id="' + company.Id + '"class="company">';
        result += '<div class="name">' + company.Name + '</div> <div class="money">' + company.EstimatedEarnings + '</div> <div class="money">' + company.FullEstimatedEarnings + '</div> <div id="update" class="but"><a class="btn btn-primary btn-mini">Up</a></div> <div id="delete" class="but"><a class="btn btn-danger btn-mini">Del</a> </div> <div id="add" class="but"><a class="btn btn-success btn-mini">Add</a></div>';
        if (company.ChildrenCompanies.length > 0)
        {
            result += '<div class="child" >';
            $.each(company.ChildrenCompanies, function (i, obj) { result += displayCompany(obj) });
            result += '</div >';
        }
        result += '</div>';
        return result;
    }
</script>
    }
